:root {
    --ancho-cuadro: calc(100vw - 100px);
}

html { font-size: 62.5%; }

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 3.5vmin;
    /*font-size: 1.6rem;*/
    /*width: 100%;*/
    background-color: #F0F0F0;
    color: #072B42;
}

/* h1 { font-size: 3.2rem; font-size: 8vmin;} */
h1 { font-size: 7vmin;}

.titulo { 
    font-size: 5vmin; 
    display:inline-block;
    margin: 2px 0 10px 0; 
    text-align: center;
}

.tituloQCER { font-size: 4vmin; }

.cuadroQCER {
    font-size: 2.5vmin;
    text-align: justify;
    text-justify: inter-word;
}

.bloque {
    width: 90%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}
.sub-azul {
    color: blue;
}
.simil-h1 {
    font-weight: bold;
    font-size: 7vmin;
}
.caja-inicio { 
    border: 1; 
    width: 80%; 
    padding: 15px;
    margin: auto; 
    border-width: 1; 
    border-color: #0b3c5d; 
    border-style: solid;
}

.container {
    /*width: calc(100vw - 100px);*/
    /*width: var(--ancho-cuadro);*/
    width: 95%;
    padding: 10px 25px 15px 15px;
    background-color: #09f;
    border-radius: 10px;
    line-height: 1.4;
    box-shadow: 1px 5px 25px #0b3c5d;
    /*box-sizing: content-box;*/
    /*max-width: 900px;*/
    margin: auto;
    overflow: hidden;
}

.container img {
    width: 50%;
    border-radius: 8px;
    float: left;
    margin: 10px 20px 5px 0px;
    /*width: 100%;*/
    max-width: calc(cont);
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 92px;
    background: #0b3c5d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    box-sizing: border-box;
    z-index: 80;
}

.logo {
    height: 80px;
    width: 72px;
    /*font-size: 2rem;*/
    /*font-weight: bold;*/
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px; /* espacio entre menu, idioma y login */
}

/* MENU */
nav ul {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    gap: 20px; /* espacio entre items de menu */
    margin: 0;
    padding: 0;
}
nav li { cursor: pointer; font-weight: bold; }
nav li:hover { text-decoration: underline; color: #92c7f1}

/* LOGIN */
.login-btn, .logout-btn {
    background: #e63946;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.7rem;
}

/* JUSTIFICADO */
.justificado {
    text-align: justify;
    text-justify: inter-word;
}

/* CONTENIDO */
main {
    margin-top: 100px;
    padding: 30px;
    background: #f0f0f0;
    min-height: 100vh;    
    min-height: calc(100vh - 100px);
    background-image: url('LogoNegro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  /* Hace que quede fija al hacer scroll */
}

/* MODAL ANIMADO */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

.modal.show {
    display: flex;
    animation: fadeIn .3s;
}

.modal-content {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 6px;
    animation: slideDown .4s;
    position: relative;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background: #0b3c5d;
    color: white;
    border: none;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1.4rem;
}

/*BORRAR/.boton-menu {
    display: none;
    background-color: transparent;
    border: 0;
}*/

.nav-input {
    display: none;
    background-color: transparent;
    border: 0;
}

#authBtn {
    font-size: 1.8vmin;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    margin-top: 10px;
}

/* oOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOo  C U R S O S  oOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOo */
.papa-cuadro {
    /* background-color: aquamarine; */
    width: 90%;
    border: 2px solid #000;
    margin: auto;
    border-radius: 10px;
    padding: 10px 0 15px 10px;
    box-shadow: 1px 5px 25px #0b3c5d;
    min-height: 100px;
    align-items: center;
    align-content: center;
}

.papa {
    /* background-color: aquamarine; */
    width: 90%;
    border: 2px solid #000;
    margin: auto;
    border-radius: 10px;
    padding: 10px 0 15px 10px;
    box-shadow: 1px 5px 25px #0b3c5d;
    min-height: 200px;
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-areas: 
    "elTitulo elTitulo"
    "elLibro elTexto"
    "elPie elPie";
    grid-template-columns: 1fr 2fr;
}

.papa .cabeza { grid-area: elTitulo; }

.papa .tapa-libro { grid-area: elLibro; }

.papa .textoD { grid-area: elTexto; margin-left: 10px;}

.papa .PdP { grid-area: elPie; }

.tapa-libro { /* DIV */
    /*background-color: #aaa;*/
    display: block;
    width: 98%;
    max-width: 250px;
    margin: auto;
    text-align: center;
    align-content: center;
}

/* IMG */
.tLibro { border: 2px solid #aaa; border-radius: 10px; }

.cabeza { text-align: left; }

.textoD { margin-right: 20px; text-align:left; }

/* background-color: lightseagreen; */
.PdP { margin: 10px; }

/* clase de la imagen de la tapa del libro*/
.tLibro { width: 95%; }

.listing { text-align: justify; }

.itemLI { margin: 10px 0;}
/* oOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOo  / C U R S O S  oOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOoOo */


/* MEDIA QUERY */
@media (max-width: 799px) {
    .menu-celu { display: none; visibility: hidden;}
    .header-right { gap: 15px; }    /* espacio entre menu, idioma y login */
    nav ul { gap: 12px; }           /* espacio entre items de menu */
    header { padding: 0 15px 0 0; }
    /*.titulo{color: rgb(255, 0, 170);}*/
}

@media (max-width: 767px) {
    .menu-celu { display: none; visibility: hidden;}
    .header-right { gap: 12px; }    /* espacio entre menu, idioma y login */
    nav ul { gap: 8px; }           /* espacio entre items de menu */
    header { padding: 0 15px 0 10px; }
    /*.titulo{color: #394;}*/
}

@media (756px <= width) {
    .menu-celu { display: none; visibility: hidden;}
    #imgchange { display: none; }   /* OCULTA EL MENU */
}

@media (755px < width) {
    header { padding: 0 15px 0 30px; } /* espacio entre menu, idioma y login */
    .menu-celu { display: none; visibility: hidden;}
    .header-right { gap: 20px; } /* espacio entre menu, idioma y login */
    .nav-img { display: none; visibility: hidden;}
}

@media (width <= 755px) {
    #menu { display: none; }   /* OCULTA EL MENU */
    .header-right { gap: 20px; } /* espacio entre menu, idioma y login */
    header { padding: 0 15px 0 30px; } /* espacio entre menu, idioma y login */
}


/* ANIMACIONES */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* CONTENEDOR DEL SLIDER */
.slider {
    position: relative;
    width: 100%;
    /*height: 40vh;*/
    overflow: hidden;
}

.slides {
    display: flex;
    width: 600%;
/*  height: 100%; */
    animation: slide 24s infinite;
}

.slides img {
    width: 100%;
/*  height: 100%; */
    object-fit: cover;
}

.slide {
  width: 100%;		/* vw vh vmin vmax % px */
}

/* ANIMACION */
@keyframes slide {
  0%   { margin-left: 0%; }
  16%  { margin-left: 0%; }

  20%  { margin-left: -100%; }
  32%  { margin-left: -100%; }

  36%  { margin-left: -200%; }
  48%  { margin-left: -200%; }

  52%  { margin-left: -300%; }
  64%  { margin-left: -300%; }

  68%  { margin-left: -400%; }
  80%  { margin-left: -400%; }

  84%  { margin-left: -500%; }
  96% { margin-left: -500%; }

  100% { margin-left: 0%; }
}


